@CHARSET "UTF-8";
body{
	color:#d0d0d0;
	font-family:微软雅黑;
}
body a{
	color:#c4c4ff;
}
body a:hover{
	color:#f1f1f8;
}

body{
	width:1320px;
	margin:0 auto;
	background:url(../pic/nigall.jpg) no-repeat center;
	background-size:100% 100%;
	background-attachment: fixed;
}
h2{
	text-align:center;
	font-weight:normal;
	color:#afafd8;
	background:#484848;
	height:50px;
	line-height:46px;
	opacity:0.8;
}
h3{
	padding:80px 0 40px 60px;
}
.here{
	position:relative;
	width:1320px;
	padding:0 0 40px 120px;
}

.here1{
	position:relative;
	width:1320px;
	padding:0 0 40px 40px;
	color:#ff9595;
}
textarea{
	margin:20px 0 0 140px;
	font-size:12px;
	font-family:微软雅黑;
	padding:6px 8px 6px 8px;
	resize:none;
	opacity:0.8;
}
input{
	margin:10px 0 20px 140px;
	color:silver;
	background:#191919;
	opacity:0.8;
	cursor:pointer;
}
