*{
	padding:0;
	margin:0;
	border:0;
	background:url(pic/heng1.jpg);
}
body{
	width:1320px;
	margin:0 auto;
	background:url(../pic/heng1.jpg);
}

#skin{
	margin:5px 0 5px 0;
	border-top:1px solid silver;
	border-bottom:1px solid silver;
}
#skin2{
	margin:5px 0 5px 0;
	border-top:1px solid silver;
	border-bottom:1px solid silver;
}
#skin3{
	margin:5px 0 5px 0;
	border-top:1px solid silver;
	border-bottom:1px solid silver;
}
#dd1{
	margin:5px 0 5px 0;
	border-top:1px solid silver;
	border-bottom:1px solid silver;
}
#dd2{
	margin:5px 0 5px 0;
	border-top:1px solid silver;
	border-bottom:1px solid silver;
}
#dd3{
	margin:5px 0 5px 0;
	border-top:1px solid silver;
	border-bottom:1px solid silver;
}
#dd4{
	margin:5px 0 5px 0;
	border-top:1px solid silver;
	border-bottom:1px solid silver;
}

a:link{color:#8080C0;
	text-decoration:none;
}
a:active{color:#8080C0;
	text-decoration:underline;
}
a:hover{color:#6699C0;
	text-decoration:underline;
}
a:visited{color:#8080C0;
	text-decoration:none;
}
ye{font-size:2em;
	font-family:Microsoft YaHei;
	
}

.dim{position:absolute;
	top:70px;
	left:628px;
	height:46px;
	width:688px;
	background-image:linear-gradient(to left,#a5ef9e,#b4b4fe);	
	BORDER-RIGHT:4px groove #86e8b7;
	BORDER-TOP:6px groove #86e8b7;  
	BACKGROUND: transprant; 
	BORDER-LEFT: 6px groove #86e8b7; 
	BORDER-BOTTOM: 6px groove #86e8b7;
	opacity:0.6; 
	align:left;
}
.dim1{position:absolute;
	top:82px;
	left:900px;
	width:30px;
	height:30px;	
}
.dim2{position:absolute;
	top:82px;
	left:950px;
}
.dim2 a:hover{
	color:#d7f2ff;
}

.dim3{position:absolute;
	top:78px;
	left:1070px;
}
.dim4 a:hover{
	color:#d7f2ff;
}
.dim4{position:absolute;
	top:83px;
	left:1109px;
	color:#fff;
}
.dim5{position:absolute;
	top:83px;
	left:1260px;
}
#header{
	background:#8d8d8d;
	height:60px;
	border:1px solid silver;
}

#midd{
	text-align:center;
	width:626px;
	height:46px;
	float:left;	
	BORDER-RIGHT:4px groove #86e8b7;
	BORDER-TOP: 4px groove #86e8b7;
	BACKGROUND: transprant; 
	BORDER-LEFT: 4px groove #86e8b7;
	WIDTH: 100%; 
	BORDER-BOTTOM: 10px groove #86e8b7;
	align:left;
	margin:0 0 0 0;
}

ul{
	font-family:微软雅黑;
}
#midd ul{
	padding:0 0 0 0;
}
#midd ul li{
	display:inline;
}

#le{
	position:absolute;
	top:160px;
	width:210px;
	height:760px;
	opacity: 0.6; 
	float:left;
	color:#d1e0df;
	margin:0 0 0 14px;
	border:1px solid silver;
}
#le a:hover{
	color:#ffffff;
}
#le dd{
	color:#e8e8e8;
	font-size:14px;
}
#le a{
	color:#bbd2d1;
}
#le dd{
	line-height:28px;
	color:
}
#lef h{
	font-size:20px;
	font-family:微软雅黑;
}
#lef li{
	text-indent:50px;
	list-style-type:none;
}
#mid{
	position:absolute;
	width:370px;
	height:450px;
	margin:90px 0 0 240px;
	background-color:rgba(0,0,0,0.1);
	BORDER-RIGHT:4px groove #757575;
	BORDER-TOP: 4px groove #757575; 
	BORDER-LEFT: 4px groove #757575;
	BORDER-BOTTOM: 4px groove #757575;
}
#mid img{
	display:block;
	margin:10px 10px 2px 20px;
}
#rig{
	width:660px;
	height:870px;
	border:1px solid silver;
	margin:30px 20px 0 0;
	float:right;
}
#rig a:hover{
	color:#99cccc;
}
#rig ul.article{
	padding:30px 10px 0 15px;
}
#rig ul.article h{
	font-size:14px;
}
#rig ul.article li{
	list-style-type:none;
	height:38px;
	line-height:38px;
	border-bottom:1px solid #333;
	margin:6px 0 0 0;
}
#rig ul.article li a{
	
}
#rig ul.article li em{
	float:right;
	font-style:normal;
	text-align:left;
	font-size:11px;
}
#rig ul.article a h1{
	font-size:13px;
	font-weight:normal;
}
#rig ul.article li em h{
	font-size:10px;
	color:#8a8a8a;
	text-align:left;
}
#mid ul li{
	list-style-type:none;
	height:38px;
	line-height:38px;
	border-bottom:1px solid #333;
	margin:6px 0 0 0;
	font-size:10px;
}
#mid li em{
	float:right;
	font-style:normal;
	text-align:left;
	font-size:10px;
	padding: 0 12px 0 0;

}
#mid a h1{
	font-size:11px;
	font-weight:normal;
}
#mid li em h{
	font-size:11px;
	color:#8a8a8a;
	text-align:left;
	font-style:normal;
	text-align:left;
}
#mid li.picrig1{
	background:url(../pic/music/1.jpg) no-repeat left center;
	background-size:6%;
	padding:0 0 0 30px;
}
.music{
	padding:0 0 0 8px;
}

#mid1 ul li{
	list-style-type:none;
	height:38px;
	line-height:38px;
	border-bottom:1px solid #333;
	margin:6px 0 0 0;
	font-size:10px;
}
#mid1 li em{
	float:right;
	font-style:normal;
	text-align:left;
	font-size:12px;
	padding: 0 12px 0 0;

}
#mid1 a h1{
	font-size:12px;
	font-weight:normal;
}
#mid1 li em h{
	color:#8a8a8a;
	text-align:left;
	font-style:normal;
	text-align:left;
}
#mid1 li.picrig2{
	background:url(../pic/music/2.jpg) no-repeat left center;
	background-size:5%;
	padding:0 0 0 32px;
}
.music1{
	padding:0 0 0 12px;
}

#mid2 ul li{
	list-style-type:none;
	height:38px;
	line-height:38px;
	border-bottom:1px solid #333;
	margin:6px 0 0 0;
	font-size:10px;
}
#mid2 li em{
	float:right;
	font-style:normal;
	text-align:left;
	font-size:12px;
	padding: 0 12px 0 0;

}
#mid2 a h1{
	font-size:12px;
	font-weight:normal;
}
#mid2 li em h{
	color:#8a8a8a;
	text-align:left;
	font-style:normal;
	text-align:left;
}
#mid2 li.picrig3{
	background:url(../pic/music/3.jpg) no-repeat left center;
	background-size:5%;
	padding:0 0 0 32px;
}
.music2{
	padding:0 0 0 12px;
}

#rig1 ul li{
	list-style-type:none;
	height:38px;
	line-height:38px;
	border-bottom:1px solid #333;
	margin:6px 0 0 0;
	font-size:10px;
}
#rig1 li em{
	float:right;
	font-style:normal;
	text-align:left;
	font-size:12px;
	padding: 0 12px 0 0;

}
#rig1 a h1{
	font-size:12px;
	font-weight:normal;
}
#rig1 li em h{
	color:#8a8a8a;
	text-align:left;
	font-style:normal;
	text-align:left;
}
#rig1 li.picrig4{
	background:url(../pic/music/4.jpg) no-repeat left center;
	background-size:6%;
	padding:0 0 0 32px;
}
.music3{
	padding:0 0 0 12px;
}

#rig2 ul li{
	list-style-type:none;
	height:38px;
	line-height:38px;
	border-bottom:1px solid #333;
	margin:6px 0 0 0;
	font-size:10px;
}
#rig2 li em{
	float:right;
	font-style:normal;
	text-align:left;
	font-size:12px;
	padding: 0 12px 0 0;

}
#rig2 a h1{
	font-size:12px;
	font-weight:normal;
}
#rig2 li em h{
	color:#8a8a8a;
	text-align:left;
	font-style:normal;
	text-align:left;
}
#rig2 li.picrig5{
	background:url(../pic/music/5.jpg) no-repeat left center;
	background-size:6%;
	padding:0 0 0 32px;
}
.music4{
	padding:0 0 0 0;
}



#rig ul.article li.picrig1{
	background:url(../pic/music/1.jpg) no-repeat left center;
	background-size:4%;
	padding:0 0 0 40px;
}
#rig ul.article li.picrig2{
	background:url(../pic/music/2.jpg) no-repeat left center;
	background-size:4%;
	padding:0 0 0 40px;
}
#rig ul.article li.picrig3{
	background:url(../pic/music/3.jpg) no-repeat left center;
	background-size:4%;
	padding:0 0 0 40px;
}
#rig ul.article li.picrig4{
	background:url(../pic/music/4.jpg) no-repeat left center;
	background-size:4%;
	padding:0 0 0 40px;
}
#rig ul.article li.picrig5{
	background:url(../pic/music/5.jpg) no-repeat left center;
	background-size:4%;
	padding:0 0 0 40px;
}
#rig ul.article li.picrig6{
	background:url(../pic/music/6.jpg) no-repeat left center;
	background-size:4%;
	padding:0 0 0 40px;
}
#rig ul.article li.picrig7{
	background:url(../pic/music/7.jpg) no-repeat left center;
	background-size:4%;
	padding:0 0 0 40px;
}
#rig ul.article li.picrig8{
	background:url(../pic/music/8.jpg) no-repeat left center;
	background-size:4%;
	padding:0 0 0 40px;
}
#rig ul.article li.picrig9{
	background:url(../pic/music/9.jpg) no-repeat left center;
	background-size:4%;
	padding:0 0 0 40px;
}
#rig ul.article li.picrig10{
	background:url(../pic/music/10.jpg) no-repeat left center;
	background-size:4%;
	padding:0 0 0 40px;
}
#rig ul.article li.picrig11{
	background:url(../pic/music/11.jpg) no-repeat left center;
	background-size:4%;
	padding:0 0 0 40px;
}
#rig ul.article li.picrig12{
	background:url(../pic/music/12.jpg) no-repeat left center;
	background-size:4%;
	padding:0 0 0 40px;
}
#rig ul.article li.picrig13{
	background:url(../pic/music/13.jpg) no-repeat left center;
	background-size:4%;
	padding:0 0 0 40px;
}
#rig ul.article li.picrig14{
	background:url(../pic/music/14.jpg) no-repeat left center;
	background-size:4%;
	padding:0 0 0 40px;
}
#rig ul.article li.picrig15{
	background:url(../pic/music/15.jpg) no-repeat left center;
	background-size:4%;
	padding:0 0 0 40px;
}
#rig ul.article li.picrig16{
	background:url(../pic/music/16.jpg) no-repeat left center;
	background-size:4%;
	padding:0 0 0 40px;
}
#rig ul.article li.picrig17{
	background:url(../pic/music/17.jpg) no-repeat left center;
	background-size:4%;
	padding:0 0 0 40px;
}
#mid1{
	position:absolute;
	width:370px;
	height:400px;
	border:1px solid silver;
	float:left;
	margin:560px 0 0 240px;
	BORDER-RIGHT:4px groove #757575;
	BORDER-TOP: 4px groove #757575; 
	BORDER-LEFT: 4px groove #757575;
	BORDER-BOTTOM: 4px groove #757575;
}
#mid2{
	width:370px;
	height:360px;
	border:1px solid silver;
	float:left;
	margin:920px 0 0 240px;
	BORDER-RIGHT:4px groove #757575;
	BORDER-TOP: 4px groove #757575; 
	BORDER-LEFT: 4px groove #757575;
	BORDER-BOTTOM: 4px groove #757575;
}
#rig1{
	width:320px;
	height:360px;
	border:1px solid silver;
	float:right;
	margin:20px 20px 0 10px;
}
#rig2{
	width:320px;
	height:360px;
	border:1px solid silver;
	margin:20px 0 0 0;
	float:right;
}
#lef{
	position:absolute;
	width:205px;
	height:470px;
	border:1px solid silver;
	margin:870px 0 0 14px;

	color:#d1e0df;
}
#lef dd a{
	color:#d8e4e3;
}
#lef a:hover{
	color:#fff;
}
#ad{
	width:660px;
	height:150px;
	border:1px solid silver;
	margin:16px 0 0 0;
	float:right;
}
#ad1{
	width:610px;
	height:150px;
	border:1px solid silver;
	margin:10px 0 0 14px;
	float:left;
}
#userl{
	width:480px;
	height:700px;
	border:1px solid silver;
	margin:20px 0 0 0;
	float:left;
}

#userr{
	width:740px;
	height:700px;
	border:1px solid silver;
	margin:10px 0 0 40px;
	float:left;
}
 #tabs3 { float:left; width:100%; background:#bee9e9;	 font-size:100%; line-height:normal; }
#tabs3 ul { margin:0; padding:20px 10px 0 50px; list-style:none; }
#tabs3 li { display:inline; margin:5px 0 5px 0; padding:5px 0 5px 0; }
#tabs3 a { float:left; background:url("../pic/images/tableft3.gif") no-repeat left top; margin:0; padding:0 0 0 4px; text-decoration:none; }
#tabs3 a span { float:left; display:block; background:url("../pic/images/tabright3.gif") no-repeat right top; padding:5px 15px 4px 6px; color:#c8ffc1; }
/* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabs3 a span { float:none; }
/* End IE5-Mac hack */
    #tabs3 a:hover span { color:#a2e6e8; }
#tabs3 a:hover { background-position:0% -42px; }
#tabs3 a:hover span { background-position:100% -42px; }

#footer{
	clear:both;
	width:auto;
	height:60px;
	text-align:center;
	margin:40px 0 0 0;
}
#footer p{
	font-size:12px;
	padding:10px 0 0 0;
}
h6#h7{
	background:#abcdc5;
	box-shadow: 0px 0px 15px #004080;
}
#userl{
	border:2px solid silver;
	font-size:12px;
	margin:10px 0 0 10px
}
#userl h2{
	text-indent:0;
	text-align:center;
}
#userl dl{
	width:150px;
	float:left;
	margin:10px 10px 10px 10px;
	padding:0 0 0 20px;
	padding-right:40px;
	padding-left:20px;
	border:1px solid #a6b98c;
	background:#808080;
	color:#252525;
}
#userl dl dt{
	width:150px;
}
#userl dl dt img{
	margin:0 auto;
	display:block;
	width:140px;
}
#userl dl dd{
	margin:10px 0 0 -8px;
	text-align:center;
	height:30px;
	line-height:20px;
	float:left;
}
#userl dl dd.user{
	width:150px;
	float:none;
	color:#804000;
}

